@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    --s: 34px; 
    --c1: #77bced;
    --c2: #223c6d;
    
    --_g: radial-gradient(calc(var(--s)/2),var(--c1) 97%,#0000);
    background:
    var(--_g),var(--_g) calc(2*var(--s)) calc(2*var(--s)),
    repeating-conic-gradient(from 45deg,#0000 0 25%,var(--c2) 0 50%) calc(-.707*var(--s)) calc(-.707*var(--s)),
    repeating-linear-gradient(135deg,var(--c1) calc(var(--s)/-2) calc(var(--s)/2),var(--c2) 0 calc(2.328*var(--s)));
    background-size: calc(4*var(--s)) calc(4*var(--s));

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 400px;
    background-color: #232931;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.info-izq{
    width: 260px;
    height: 100%;
    float: left;
    display: flex;
    border-radius: 25px;
    justify-content: center;
    background: url("1.jpg");
    background-position: center;
    background-size: cover;
    transform: scale(1.03) perspective(200px);
    cursor: pointer;
    box-shadow: 0 0 20px -10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.info-izq:hover{
    transform: scale(1.1) perspective(2500px) rotateY(5deg);
}

.pic-gradient{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(135deg, #5c6bc0 10%, #0d47a1 100%);
    border-radius: 25px;
    opaciudad: 0.5;
}

.toinfo-dia{
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.temp-hoy{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    bottom: 20px;
    left: 20px;
}

.temp-hoy .bx{
    font-size: 4.6rem;
}

.temp-clima{
    font-weight: 700;
    font-size: 3.5rem;
}

.info-der{
    float: right;
    position: relative;
    height: 100%;
    padding-top: 25px;
}

.info-dia{
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.info-dia div:not(:last-child){
    margin-bottom: 6px;
}

.info-dia div .title{
    font-weight: 700;
}

.info-dia div .value{
    float: right;
}

.lista-dias{
    display: flex;
    list-style: none;
    margin: 10px 35px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 10px;
}

.lista-dias li{
    padding: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.lista-dias li .bx{
    margin-bottom: 5px;
    font-size: 2rem;
}

.lista-dias li:hover{
    transform: scale(1.1);
    background: #fff;
    color: #222831;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.lista-dias li .temp-dia{
    margin-top: 6px;
    font-weight: 700;
}

.btn-container{
    padding: 25px 35px;
}

.loc-button{
    outline: none;
    width: 100%;
    border: none;
    font-weight: 700;
    border-radius: 25px;
    padding: 10px;
    background: #303f9f;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    transition: all 0.3s ease;
}

.loc-button:hover{
    background: #1a237e;
}